.HeaderDropDown{
    box-shadow: rgb(167 163 163) 1px 1px 2px 1px !important;
    width: 442px;
    display: flex;
}
.HeaderDropDown > .firstdiv{
    width: 50%;
}
.HeaderDropDown > .seconddiv{
    width: 50%;
}

.HeaderDropDown > .seconddiv > img {
    width: 89%;
    margin: 10px;
    border-radius: 14px;
    height: 174px;
}

.HeaderDropDownAccount{
    box-shadow: rgb(167 163 163) 1px 1px 2px 1px !important;
    width: 180px;
    display: flex;
}