.productlist-cartgory-head{
    font-weight: 700;
    height: 50px;
    background: #f5f5f5;
    line-height: 50px;
    padding-left: 20px;
    margin-bottom: 0px;
    border-bottom: 1px solid #d9d9d9 !important;
}

.productlist-cartgory > .ant-collapse-item {
    background: white;
    border-bottom: 0px solid #d9d9d9 !important;
}
.productlist-cartgory   .ant-collapse-content {
    border-bottom: 1px solid #d9d9d9!important;
}

.productlist-cartgory{
    border-bottom: 1px solid #d9d9d9 !important;
    border-top: 0px solid;
}
.checkBox-productList .ant-checkbox-group-item{
    width: 100%;
    margin-bottom: 10px;
}
.productlist-filter{
    border: 1px solid #d9d9d9;
    border-top: 0px solid;
    padding: 10px;
}
.productlist-subMenu {
    color: var(--mainColor) !important;
}
.productlist-subMenu > li{
    margin-bottom: 5px;
}

.rangeInputSlider .ant-slider-mark span:last-child {
    left: 91% !important;
}  

.productlist-head-block{
    padding-left: 10px;
    font-size: 19px;
    font-weight: 600;
    height: 50px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    padding-top: 9px;
    margin-bottom: 10px;
    color: var(--mainColor);
    background-color: whitesmoke;
    border-radius: 4px;
}
.productlist-head-block label{
    padding-right: 10px;
    font-size: 15px;
}
.selectTag-proHead{
    width: 180px;
    margin-right: 14px;
}
.mobilefilterButton{
    margin-right: 12px;
    background: var(--mainColor);
    border-color: var(--mainColor);
}

@media screen and (max-width: 517px) and (min-width: 340px) {
    .setGrid-pro .ant-row{
        display: inline-flex;
    }
}

