:root {
  --mainColor: #5f2309;
  
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.logo {
    float: left;
    width: 189px;
    height: 67px;
    margin: 11px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.header-titles{
  padding: 15px 16px;
      color: #0a0202;
    /* display: inline-block; */
    vertical-align: middle;
    text-transform: unset;
    font-weight: 700;
    font-size: 16px;
}

.ant-layout-header{
     height: 88px !important;
    line-height: 75px !important;
    background-image: linear-gradient(180deg, #ffffff, #ffffff) !important;
}

.header-icon{
  font-weight: 700;
    font-size: 16px;
}
.header-span{
  position: absolute;
    font-size: 10px;
    background: var(--mainColor);
    line-height: 1;
    padding: 5px;
    border-radius: 47%;
    color: white;
    top: 20px;
}

/* media query for desktop */
@media only screen and (min-width: 768px) {
  .MobileHeader{
    display: none;
  }
  .DesktopHeader{
    display: block;
  }
  .StyleHeader{
    padding: 0 50px !important;
  }
  .category-desktop-home{
    display: block;
  }
  .image-category-title{
    bottom: 172px;
  }
  .sliderimage{
    height: 372px;
}
.ant-layout-content{
  padding: 0px 50px !important;
}
.section-home {
  padding: 38px 0px;
}
.hideOnMobile{
  display: block!important;
}
 
.hideOnDesktop{
  display: none;
}
}

/* media query for mobile */
@media only screen and (max-width: 768px) {
  .MobileHeader{
    display: block;
  }
  .DesktopHeader{
    display: none;
  }
  .StyleHeader{
    padding: 0 20px !important;
  }
  .category-desktop-home{
    display: none;
  }
  .image-category-title{
    bottom: -6px;
  }
  .sliderimage{
    height: 200px;
}

.ant-layout-content{
  padding: 0px 20px!important;
}
.section-home {
  padding: 12px 0px;
}
.hideOnMobile{
  display: none!important;
}
.hideOnDesktop{
  display: block ;
}
}

.heading-star{
  font-size: 8px;
}
.heading-home-divider.ant-divider-with-text::before, .heading-home-divider.ant-divider-with-text::after {
  position: relative;
  top: 50%;
  width: 20%;
  border-top: 1px solid #c1bcbcfa;
   border-top-color: none !important;
  border-bottom: 0;
  transform: translateY(37%);
  content: '';
}
.heading-home-divider{
  justify-content: center;
}